body {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  gap: 50px
}

img, div {
  border: solid white 2px;
  border-radius: 15px;
}

div {
  padding: 25px;
}

.loading {
  border: none;
  width: 60px;
}